<div class="footer">
    <div class="about__us footer__field">

        <h3>About us</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi minima quas qui sed ullam, facere eligendi provident cupiditate perspiciatis tempora reiciendis debitis in vel hic exercitationem beatae ab voluptates aspernatur fuga. Modi voluptatem dolorum ex perspiciatis repellendus quam ab perferendis quo odit, animi tenetur. Eum nobis omnis consectetur? Officiis, exercitationem?</p>
    </div>
    <div class="contact__us footer__field">
        <!-- <h3>Address <p>Lorem ipsum dolor sit amet.</p></h3>
        <h3>Contact <p>+91 85834 84844</p></h3> -->

        <ul>
            <li>
                Address: <p>Lorem ipsum dolor sit amet.</p>
            </li>
            <li>
                Contact: <p>+91 85834 84844</p>
            </li>
            <li>
                Contact: <p>marvel@company.co</p>
            </li>
        </ul>

    </div>
    <div class="feedback footer__field">
        <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter name</mat-label>
                <input matInput type="text" value="">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter email</mat-label>
                <input matInput type="email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
        </form>
    </div>
</div>