/* .img-fluid {
    height: 300px;
    object-fit: cover;
}

.series_title {
    font-size: 13px;
}

.overlay {
    box-shadow: 5px 0 0 0 red;
} */

/* .series_title {
    font-size: 13px;
}

.series__wrapper {
    min-height: 260px;
    padding: .7rem;
    box-sizing: border-box;
}


.series__wrapper img  {
    height: 220px;
    background-color: blueviolet;
}

.series__title  {
    height: 40px;
    background-color: aquamarine;
} */



.img {
    height: 320px;
}

.seachBar {
    margin-top: 10px;
}

/* img {
    width: 100%;
    height: auto;
} */



.example-card {
    max-width: 250px;
}

mat-card {
    height: 350px;
}

mat-card:hover .fw-bold {
    color: #1e60a1;
}

.hero__img {
    overflow: hidden;
}

mat-card:hover img {
    transform : translateY(-8px);
    transition: 250ms ease-in-out;
}

.fw-bold {
    font-size: 13px;
    text-overflow: ellipsis;
}

mat-card-header {
    overflow: hidden;
}

.character__wrapper {
    max-width: 250px;
}


.example-header-image {
    background-size: cover;
}

.text-center {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

@media screen and (max-width: 400) {

    mat-card {
        height: 200px;
    }

}


/* mat-card {
    height: 350px;
}

img {
    width: 100%;
    height: auto;
}

.seriess {
    border: 2px solid black;
    margin-top: 1rem;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    gap: 15px;
}

.series {
    width: 230px;
    min-height: 350px;
    border: 1px solid red;
}

.img__wrapper img {
    max-width: 230px;
    height: auto;
} */


/* @media screen and (min-width: 1000px) {
    .seriess {
     
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr ;
        
    }
} */