.container-fluid {

    background: url("../../assets/s3.jpg") #00000098;
    color: var(--white);
    /* background:url(../../assets/s2.jpg) repeat, linear-gradient(to bottom,  #7abcff 0%,#4096ee 100%);  */
    /* background-color: #a67bf0; */
    /* background-image: url(../../assets/s2.jpg); */

    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    opacity: 1;
    background-clip: border-box;
    /* filter: blur(3px); */
}

.comic__wrapper {
    padding: 3rem 0;
    min-height : 90vh;
    /* border  : 2px solid var(--primary); */
}

.comic__img {
    max-width      : 400px;
    height         : auto;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.comic__img img {
    max-width : 350px;
    min-height: auto;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 600;
}

span {
    font-size: 15px;
}

@media screen and (max-width: 600) {

    .comic__img {
        max-width      : 300px;
        height         : 300px;
     
    }

    .comic__img img {
        max-width : 300px;
        height: auto;
    }

}

@media screen and (min-width: 600) {

    .comic__wrapper {
    max-width: 80%;
    }
}