.img {
    height: 320px;
}

.seachBar {
    margin-top: 10px;
}

/* img {
    width: 100%;
    height: auto;
} */



.example-card {
    max-width: 250px;
}

mat-card {
    height: 350px;
}

mat-card:hover .fw-bold {
    color: #1e60a1;
}

.hero__img {
    overflow: hidden;
}

mat-card:hover img {
    transform : translateY(-8px);
    transition: 250ms ease-in-out;
}

.fw-bold {
    font-size: 13px;
    text-overflow: ellipsis;
}

mat-card-header {
    overflow: hidden;
}

.character__wrapper {
    max-width: 250px;
}


.example-header-image {
    background-size: cover;
}

.text-center {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

@media screen and (max-width: 400) {

    mat-card {
        height: 200px;
    }

}