mat-drawer  {
    background-color: var(--dark);
    /* background-color: #3f51b5; */ 
    /* background-color: #164575; */
    width: 90px;
    border: none;
}

.navbar {
    background-color: var(--dark);
}

mat-drawer-content {
    background-color: #e1e1e1;
}

.nav-link {
    color: var(--white);
}

.manuBtn {
    display: block;
    background-color: transparent;
}

.navbar-brand {
    font-size: clamp(1rem, 1.3vw, 1.7rem);
}

.side_list_icon {
    font-size: clamp(1rem, 1.3vw, 1.5rem);
}


.mat__links {
    /* font-size: 17px; */
    font-size: clamp(0.6rem, 1.3vw, 1.1rem);
}

.brand_svg {
    display: none;
}

.active {
    border-radius: 5px;
    /* box-shadow: inset 0 0 10px 5px #163f67; */
    box-shadow:inset 0 0 6px 1px #ffffff50;
}

@media screen and (max-width: 400) {
   
    .brand_svg {
        display: block;
    }
 }

@media screen and (min-width: 991px) {
    .manuBtn {
        display: none;
    }
    
    mat-drawer  {
        display: none;
        width: 200px;
    }

 }