<div class="main__container px-2">
  <button mat-button (click)="goBack()"> <span class="material-icons">
      arrow_back
    </span> Back</button>
  <div class="container">
    <div class=" overview__wrapper">
      <div class="row" *ngFor="let comic of comics">
        <div class="overview__img   col-xs-12 col-md-4">
          <img class="rounded" src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="image not found">
        </div>
        <div class=" col-md-8  col-xs-12 ps-3">
          <div class="overview__info">
            <h1>{{comic.title | titlecase}}</h1>
            <div>
              <h2>Published:
                <br>
                <span>{{comic.dates[0].date | date}}</span>
              </h2>
              <h3>Available items by creator</h3>
              <ul>
                <li><span>characters :</span> <span>{{comic.characters.available}}</span></li>
                <li><span>Stories :</span> <span>{{comic.stories.available}}</span></li>
              </ul>

              <br>
            </div>
            <div class="discription__title">Description : <br>
              <p class="discription">{{comic.description ? comic.description : 'No description found☹️' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="characters.length !== 0">
  <app-character [characters]="characters" [isOverviewMode]="true" [characterLoadBtn]="characterLoadBtn" (loadCharacter)="loadCharacter()"></app-character>
</ng-container>

<ng-container *ngIf="stories.length !== 0">
  <app-story [stories]="stories" [isOverviewMode]="true" [storyLoadBtn]="storyLoadBtn" (load)="loadStories()" ></app-story>
</ng-container>