<div class="main__container px-2">
  <button mat-button (click)="goBack()"> <span class="material-icons">
      arrow_back
    </span> Back</button>
  <div class="container">
    <div class=" overview__wrapper">
      <div class="row" *ngFor="let series of seriess">
        <div class="overview__img  col-sm-6 col-xs-12 col-md-6">
          <img class="rounded" src="{{series.thumbnail.path}}.{{series.thumbnail.extension}}" alt="image not found">
        </div>
        <div class=" col-md-6 col-sm-6 col-xs-12 ps-3">
          <div class="comic__info">
            <h1>{{series.title | titlecase}}</h1>
            <h3>Available items by creator</h3>
            <ul>
              <li><span>characters :</span> <span>{{series.characters.available}}</span></li>
              <li><span>Comics :</span> <span>{{series.comics.available}}</span></li>
              <li><span>Stories :</span> <span>{{series.stories.available}}</span></li>
            </ul>
            <br>
            <div class="discription__title">Description : <br>
              <p class="discription">{{series.description ? series.description : 'No description found☹️' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="characters.length !== 0">
  <app-character [characters]="characters" [characterLoadBtn]="characterLoadBtn" [isOverviewMode]="true" (loadCharacter)="loadChararacter()"></app-character>
</ng-container>



<ng-container *ngIf="comics.length !== 0">
  <app-comic (load)="loadComics()" [comics]="comics" [comicLoadBtn]="comicLoadBtn" [isOverviewMode]="true" ></app-comic>
</ng-container>


<ng-container *ngIf="stories.length !== 0">
  <app-story [stories]="stories" [isOverviewMode]="true" [storyLoadBtn]="storyLoadBtn" (load)="loadStories()" ></app-story>
</ng-container>