<!-- <div class="p-0">
    <div class="">
      <div class=" mx-auto py-0 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
  
        <div class="grid mt-2 grid-cols-1 gap-y-4 sm:grid-cols-2 gap-x-4 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-4">
  
          <a class="group border  rounded" *ngFor="let story of stories">
            <mat-card [routerLink]="['/story', story.id]" [queryParams]="{story: story.title}"
              class="w-full p-0  aspect-w-1 aspect-h-1  rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8 sm:aspect-w-5 sm:aspect-h-3">
  
  
              <mat-card-header>
                <mat-card-title class="p-0">
                  <h4 class="fw-bold" matTooltip="{{story.title}}" matTooltipPosition="above">{{story.title | filter |
                    titlecase}}</h4>
                </mat-card-title>
              </mat-card-header>
  
              <div class="image__wrapper" *ngIf="story.thumbnail !== null">
                <img src="{{story.thumbnail.path}}.{{story.thumbnail.extension}}"
                  alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                  class="w-full h-full object-center object-cover img">
              </div>

              <div class="image__wrapper" *ngIf="story.thumbnail === null">
                <img src="../../assets/image not found.jpg"
                  alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                  class="w-full h-full object-center object-cover img">
              </div>
            </mat-card>
  
          </a>
        </div>
        <button (click)="loadMore()" *ngIf="loaded" mat-button color="primary" class="mt-2" >Load more</button>
      </div>
    </div>
  </div> -->

  <app-story [stories]="stories" [isOverviewMode]="false" [storyLoadBtn]="storyLoadBtn" (load)="loadMore()" ></app-story>
  
  <div class="container">
    <div class="loading__spiner" *ngIf="fetching">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <div>Loading please wait...</div>
    </div>
  </div>