<div class="main__container px-2">
  <button mat-button (click)="goBack()"> <span class="material-icons">
      arrow_back
    </span> Back</button>
  <div class="container">
    <div class=" overview__wrapper">
      <div class="row" *ngFor="let creator of creators">
        <div class="overview__img  col-sm-6 col-xs-12 col-md-6" *ngIf="creator.thumbnail !== null">
          <img class="rounded" src="{{creator.thumbnail.path}}.{{creator.thumbnail.extension}}" alt="image not found">
        </div>

        <div class="overview__img  col-sm-6 col-xs-12 col-md-6" *ngIf="creator.thumbnail === null">
          <img class="rounded" src="../../../assets/image not found.jpg" alt="image not found">
        </div>
        <div class=" col-md-6 col-sm-6 col-xs-12 ps-3">
          <div class="overview__info">
            <h1>Name: {{creator.fullName | titlecase}}</h1>
            <h2>Id: {{creator.id}}</h2>
            <h3>Available items by creator</h3>
            <ul>
              <li><span>Comics :</span> <span>{{creator.comics.available}}</span></li>
              <li><span>Series :</span> <span>{{creator.series.available}}</span></li>
              <li><span>Stories :</span> <span>{{creator.stories.available}}</span></li>
              <li><span>Events :</span> <span>{{creator.events.available}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-container *ngIf="loaded">
  
  <ng-container *ngIf="comics.length !== 0">
    <app-comic (load)="loadComics()" [comics]="comics" [comicLoadBtn]="comicLoadBtn" [isOverviewMode]="true" ></app-comic>
  </ng-container>
  
  <ng-container *ngIf="seriess.length !== 0">
    <app-seriees [seriess]="seriess" [isOverviewMode]="true" [seriesLoadBtn]="seriesLoadBtn" (load)="loadSeries()">
    </app-seriees>
  </ng-container>

  <ng-container *ngIf="stories.length !== 0">
    <app-story [stories]="stories" [isOverviewMode]="true" [storyLoadBtn]="storyLoadBtn" (load)="loadStories()" ></app-story>
  </ng-container>

  <ng-container *ngIf="events.length !== 0">
    <app-event [events]="events" [eventLoadBtn]="eventLoadBtn" [isOverviewMode]="true" (load)="loadEvents()"></app-event>
  </ng-container>

</ng-container>