<div class="main__container px-2">
    <button mat-button (click)="goBack()"> <span class="material-icons">
      arrow_back
    </span> Back</button>
    <div class="container">
      <div class=" overview__wrapper">
        <div class="row" *ngFor="let story of stories">
          <div class="overview__img  col-sm-6 col-xs-12 col-md-6" *ngIf="story.thumbnail !== null">
            <img class="rounded" src="{{story.thumbnail.path}}.{{story.thumbnail.extension}}" alt="image not found">
          </div>

          <div class="overview__img  col-sm-6 col-xs-12 col-md-6" *ngIf="story.thumbnail === null">
            <img class="rounded" src="../../../assets/image not found.jpg" alt="image not found">
          </div>
          <div class=" col-md-6 col-sm-6 col-xs-12 ps-3">
            <div class="comic__info">
              <h1>{{story.title | titlecase}}</h1>
              <div>
               
                <p>{{story.description ? story.description : 'No description found☹️' }}</p>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>