/* .container-fluid {

    background         : url("../../../assets/s3.jpg") #00000098;
    color              : var(--white);
 

    background-repeat: no-repeat;
    background-size      : cover;
    background-position  : center;
    background-blend-mode: multiply;
    opacity              : 1;
    background-clip      : border-box;
}

.comic__wrapper {
    padding    : 3rem 0;
    min-height : 90vh;
}

.comic__img {
    max-width      : 400px;
    height         : auto;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.comic__img img {
    max-width : 300px;
    max-height: 450px;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 600;
}

span {
    font-size: 15px;
}

@media screen and (max-width: 600) {

    .comic__img {
        max-width: 300px;
        height   : 300px;

    }

    .comic__img img {
        max-width: 300px;
        height   : auto;
    }

}

@media screen and (min-width: 600) {

    .comic__wrapper {
        max-width: 80%;
    }
} */
