<div class="p-0 mt-5">
  <div class="pt-3">
    <div class=" mx-auto py-0 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 gap-x-6 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-6">
        <a class="group border  rounded" *ngFor="let character of characters">
          <mat-card class="w-full p-0  aspect-w-1 aspect-h-1  rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">

            <mat-card-header>
              <mat-card-title class="p-0">
                <h4 class="fw-bold">{{character.name}}</h4>
              </mat-card-title>
            </mat-card-header>
            <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
              alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
              class="w-full h-full object-center object-cover group-hover:opacity-75 img">
            <mat-card-actions class="ms-2 p-0 m-0 my-2">

              <!-- <button mat-raised-button ata-target="#comicModal" data-toggle="modal" class="m-0" (click)="getComicsByName(character.id)">COMICS</button> -->
              <!-- 
              <button mat-raised-button data-target="#comicModal" data-toggle="modal" class="m-0" (click)="getComicsByName(character.id)">COMICS</button> -->

              <button mat-raised-button class="m-0" (click)="openDialog()">COMICS</button>

              <!-- <button mat-raised-button data-target="#comicModal" data-toggle="modal" class="m-0" >COMICS</button> -->

            </mat-card-actions>

          </mat-card>

        </a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="text-center" *ngIf="fetching">
  <div class="spinner-grow text-primary" role="status"></div>
</div> -->

<!-- Bootstrap modal -->


<!-- <div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="modal" id="comicModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Comics by Hero name</h4>
            </div>

            <div class="modal-body">
              <div class="bg-gray-200 pt-3">
                <div class=" mx-auto py-0 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">


                  <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 gap-x-6 lg:grid-cols-4 xl:grid-cols-4 xl:gap-x-6">
                    <a class="group" *ngFor="let comic of comics">
                      <div
                        class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8 hero__wrapper">
                        <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}"
                          alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                          class="w-full h-full object-center object-cover group-hover:opacity-75 img-fluid">

                        <div class="overlay">
                          <h3 class="mt-4 text-lg ms-3 text-gray-700">{{comic.title}}</h3>

                        </div>
                      </div>

                    </a>
                  </div>
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <button mat-raised-button data-dismiss="modal"> close </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->