<div class="p-0">
  <div class="pt-3">
    <div class=" mx-auto py-0 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
      <input *ngIf="loaded" class="form-control me-2 " type="search" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchTerm" (input)="searchCharacter()">
      <div class="grid mt-2 grid-cols-1 gap-y-6 sm:grid-cols-2 gap-x-6 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-6">

        <a class="group border  rounded" *ngFor="let character of characters">
          <mat-card
            class="w-full p-0  aspect-w-1 aspect-h-1  rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8 sm:aspect-w-5 sm:aspect-h-3">


            <mat-card-header>
                <mat-card-title class="p-0">
                  <h4 class="fw-bold" matTooltip="{{character.name}}" matTooltipPosition="above">{{character.name | filter}}</h4>
                </mat-card-title>
            </mat-card-header>

            <div class="hero__img">
              <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}"
                alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                class="w-full h-full object-center object-cover group-hover:opacity-75 img">
            </div>

            <mat-card-actions class="mx-2 p-0 m-0 my-2">
              <button mat-raised-button class="m-0" (click)="gotoComic(character.id);">COMICS</button>
              <button mat-raised-button class="m-0" (click)="gotoSeries(character.id);">SERIES</button>
            </mat-card-actions>
          </mat-card>

        </a>
      </div>
      <button *ngIf="loaded" mat-raised-button color="primary" class="mt-2">Load more</button>
    </div>
  </div>
</div>



<div class="container">
  <div class="text-center" *ngIf="fetching">
    <!-- <div class="spinner-grow text-primary" role="status"></div> -->
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>

    <div>Loading please wait...</div>
  </div>
</div>