/* .img {
    height: 280px;
}

.seachBar {
    margin-top: 10px;
}

.example-card {
    max-width: 250px;
}

mat-card:hover .fw-bold {
    color: var(--white);
}

mat-card:hover mat-card-header {
    transition: 450ms ease-in-out;
    background-color: var(--primary);
}

.image__wrapper {
    overflow: hidden;
}

mat-card:hover img {
    transform : scale(1.1);
    transition: 650ms cubic-bezier(.5, 0, .5, 1);
}

.fw-bold {
    font-size: 13px;
}

.character__wrapper {
    max-width: 250px;
}

.loading__spiner {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    text-align: center;
}

@media screen and (max-width: 400) {
    mat-card {
        height: 200px;
    }
} */